@*@model IEnumerable<MUESystem.Model.Bill>*@

@model PagedList.IPagedList<MUESystem.Web.ModelsView.BillIndexlList>
@using PagedList.Mvc

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => model.CreatPersonID)*@用户
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.CreatTime)*@账单时间
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.BillMoney)*@金额
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.BillTypeID)*@消费类型
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Reark)*@备注
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreateTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.money)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BillType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.remark)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
共 @Model.PageCount 页，当前第 @Model.PageNumber 页
@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))